---
interface Props {
  title: string;
  desc: string;
  imgUrl: string;
  postUrl: string;
  author: string;
  pubDate?: string;
}

const { title, desc, imgUrl, postUrl, author } = Astro.props as Props;
---
<div class="relative text-center">
  <img class="brightness-[.25]" src={imgUrl} />
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen">
    <div class="flex flex-col justify-center text-center">
      <h1 class="text-white text-6xl">
        <a class="hover:underline" href={postUrl}>{title}</a>
      </h1>
      <h4 class="text-md text-white">By {author}</h4>
      <hr class="mx-auto my-2 w-1/2">
    </div>
    <p class="text-white text-xl">{desc}</p>
  </div>
</div>