---
interface Props {
  title: string;
  desc: string;
  imgUrl: string;
  postUrl: string;
  author: string;
  pubDate?: string;
}

const { title, desc, imgUrl, postUrl, author } = Astro.props as Props;
---
<section class="relative text-center">
  <img class="brightness-[.25]" src={imgUrl} />
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 min-w-[95%]">
    <div class="relative flex flex-col justify-items-center align-middle text-center">
      <h1 class="text-white text-6xl">
        <a class="hover:underline" href={postUrl}>{title}</a>
      </h1>
      <h4 class="text-md text-white pb-5">By {author}</h4>
      <hr class="mx-auto my-2 w-1/2 pb-5">
      <p class="text-white text-xl">{desc}</p>
    </div>
  </div>
</section>
